<div class="formulaBuilder">
    <section class="content">
        <mat-grid-list cols="1" rowHeight="50px">
            <mat-grid-tile class="headline">
                <b class="lead">Formula Builder - Itanta Analytics</b>
            </mat-grid-tile>  
          </mat-grid-list>

          
          <mat-grid-list cols="1" rowHeight="65px">
            <mat-grid-tile class="buttons">
                <div class="box">
                    <a href="/basic-new-ui?_id=new">
                        <button mat-button>Add New Formula</button> 
                    </a>
                    <button (click)='onDelete("all")' mat-button class="del">Delete All Formulas</button> 
                </div>
            </mat-grid-tile> 
          </mat-grid-list>

          <mat-grid-list cols="1" rowHeight="35px" class="exists">
            <mat-grid-tile class="line">
               <p>Existing List of Formulas will be here</p>
               
            </mat-grid-tile> 
          </mat-grid-list>

         
          
          <mat-grid-list cols="4" rowHeight="400px"> 
            <mat-grid-tile class="existingList">
                <section class="items">
                    <div class="item" *ngFor="let obj of formulas_list">
                        <span>
                            {{obj["formula_name"]}}
                        </span>
                        <span>
                            <a href='{{"/basic-new-ui/?_id=" + obj["_id"]}}'> 
                                <i class="fa-light fa-pen-to-square"></i>
                           </a>

                           <a (click)='onDelete(obj["_id"])'> 
                            <i class="fa-solid fa-trash-can"></i>
                           </a>

                           <a (click)='onOpenTreeView(obj["_id"])'> 
                            <i class="fa-light fa-pen-to-square"></i>
                           </a>
                        </span>
                    </div> 
                </section>
            </mat-grid-tile>

            <mat-grid-tile class="treeView" colspan="3">
                <section class="items">
                    <small class="text">
                        Tree View of Selected formula 
                    </small>
                    <section style="height: 90%;">
                        <app-diagram [model]="model"></app-diagram>
                    </section>
                </section>
             </mat-grid-tile>

          </mat-grid-list>

    </section>
</div>