
  <div class="content">
    <section class="formulas">
      <div class='card'> 
        <div class='card-desc'>
          <span class='card-desc-first add_new_formula'>
            <strong>Create A New Formula</strong>
            <small></small>
            <p>
              <span class='result_collection'>
                <i class="fa-solid fa-plus" style="font-size:42px; font-weight: bold; color: rgb(13, 75, 184);"> 
                </i>
              </span> 
            </p> 
          </span> 
        </div>
      </div>
  
      <div class='card'>
        <!-- <div class='card-img'>
          <button class='label'>NEW</button>
          <button class='save'>
            <span class="material-symbols-outlined">
              bookmark
            </span>
          </button>
        </div> -->
      
        <div class='card-desc'>
          <span class='card-desc-first'>
            <strong>Formula Name</strong>
            <small>12 December 2022</small>
            <p>
              <span class='result_collection'>
                Result Collection
              </span> 
            </p> 
          </span>
      
          <hr>
      
          <span class='card-desc-last'>
            <p>220 Tags</p> 
            <p class="icons">
              <i class="fa-regular fa-pen-to-square edit"></i> 
              <i class="fa-solid fa-sitemap tree_view"></i>
              <i class="fa-sharp fa-solid fa-trash delete"></i>
            </p>
          </span>
        </div>
      </div> 
      <div class='card'>
        <!-- <div class='card-img'>
          <button class='label'>NEW</button>
          <button class='save'>
            <span class="material-symbols-outlined">
              bookmark
            </span>
          </button>
        </div> -->
      
        <div class='card-desc'>
          <span class='card-desc-first'>
            <strong>Formula Name</strong>
            <small>12 December 2022</small>
            <p>
              <span class='result_collection'>
                Result Collection
              </span> 
            </p> 
          </span>
      
          <hr>
      
          <span class='card-desc-last'>
            <p>220 Tags</p> 
            <p class="icons">
              <i class="fa-regular fa-pen-to-square edit"></i> 
              <i class="fa-solid fa-sitemap tree_view"></i>
              <i class="fa-sharp fa-solid fa-trash delete"></i>
            </p>
          </span>
        </div>
      </div>
   
    </section>
   
    <section class="diagram">
      <div class="text">
        <strong style="opacity: 0.6;">
          Tree view for
        </strong> 
        <strong>
          Formula Name
        </strong>
      </div>

      <div class="canvas">
        <canvas>
        
        </canvas>
      </div>
    </section>
  </div> 