<div class="main">
    <section class="content">
        <mat-grid-list cols="1" rowHeight="90px" class="fname">
            <mat-grid-tile>
                <h5 style="font-size: 16px;">
                    Formula Name - 
                    {{formula_name}}
                </h5>
            </mat-grid-tile>
        </mat-grid-list>


        <mat-grid-list cols="4" rowHeight="175px" class="row2">
            <mat-grid-tile>

                <div class="btns">
                    <button mat-button (click)="onAddingTag()">
                        Add a Tag
                    </button>
                     
                    <button mat-button>
                        Configurating Tag
                        <br>
                        {{configurating_tag}}
                    </button>
                </div> 

            </mat-grid-tile>
            <mat-grid-tile colspan="3" >
                <section class="result_coll_tags">
                    <h6>
                        <small style="font-size: 14px;">
                            Saved Tags will appear here
                        </small>
                    </h6>
                    
                    <br>

                    <div>
                        <small>
                            <button mat-button *ngFor="let obj of tags.derived_tags" (click)="onClickDerivedTag(obj)" class="{{obj['color']}} result_tag">  
                                    {{obj["name"]}} 
                            </button>
                        </small>
                    </div>
                </section>
            </mat-grid-tile>
        </mat-grid-list>


        <hr>

        <mat-grid-list cols="4" rowHeight="370px" class="row3" style="
        border-bottom : 1px solid rgb(216, 210, 210);">
            <mat-grid-tile colspan="1">
                <div class="ds">
                    <label for="ds">Select DataSource</label>
                    <select name="ds" id="ds" (change)="onChangeDataSource($event.target)">
                        <option *ngFor="let obj of data_sources" value="{{obj['conf']['collection']}}" >{{obj['conf']['collection']}} 
                        </option> 
                    </select>

                    <div class="onChangeTags" *ngIf="frequency == -1">
                        <p>
                            <label for="onchange">
                                Select OnChange Tags
                            </label>
                        </p>

                        
                        <select name="onchange" id="onchange" multiple [(ngModel)]="onchange_tags_selected">  
                            <option  *ngFor="let obj of selectable_tags"> 
                                {{obj}}
                            </option>   
                        </select>  
                    </div>


                </div>
            </mat-grid-tile>

            <mat-grid-tile colspan="3" class="formula">
                <!-- <h6 style="font-size: 16px;" style="display: block; width: 300px; height: 100%; display: flex ; justify-content: center; align-items: center;">
                    {{formula_representation}}
                </h6> -->

                <h3 style="position: absolute; top: 25px;">
                        Last Valid Formula Tree View
                </h3>

                <section style="height: 690px; width: 100%; position: absolute; right: 0; margin: 0px 2px;">
                    <app-diagram [model]="model"></app-diagram>
                </section>

            </mat-grid-tile>

        </mat-grid-list>



        <mat-grid-list cols="8" class="final" rowHeight="450px" class="row3" cdkDropListGroup>
            <mat-grid-tile colspan="2" class="tags" >
                <section class="example-container">
                    <div
                    cdkDropList
                    [cdkDropListData]="tags.datasource_tags"
                    class="example-list"
                    >
                        <span class="tag example-box" *ngFor="let obj of tags.datasource_tags" cdkDrag>
                            {{obj["name"]}}
                        </span> 
                    </div>
                    
                    
                        
                        
                    <div 
                    cdkDropList
                    [cdkDropListData]="tags.saved_tags
                    ">

                        <span *ngFor="let obj of tags.saved_tags" cdkDrag class="tag tagDervied">
                            {{obj["name"]}}
                        </span> 
                    </div> 
                </section>


            </mat-grid-tile>
            <mat-grid-tile colspan="4" class="playzone">
               <section class="dragzone" >
                   <section style=" 
                   height: 100%;" class="example-container">
                       <div
                       style=" 
                       height: 100%;" 
                       class="dropArea example-list" 
                       cdkDropList
                       (cdkDropListDropped)="onDrop($event)"
                       [cdkDropListData]="dropped_tags"
                       >
                            <small class="item example-box" cdkDrag
                             *ngFor="let obj of dropped_tags">
                                {{obj["name"]}}
                            </small> 
                       </div>
                   </section>
               </section>


               <section class="example-container">
                    <section class="aggregators example-list"
                    cdkDropList
                    [cdkDropListData]="aggregators"
                    >
                        <small class="item example-box" *ngFor="let aggr of aggregators" cdkDrag>
                            {{aggr.name}}
                        </small>
                    </section>
               </section>


                <section>
                    <section class="operators"
                    cdkDropList
                        [cdkDropListData]="operators"
                        >
                        <small class="item" *ngFor="let obj of operators" cdkDrag>
                            <p *ngIf="obj['type']=='operator'">
                                {{obj["name"]}} 
                            </p>


                            <p *ngIf="obj['type']=='constant'">
                                <input type="number" placeholder="constant" (change)="onChangeConstant($event)">
                            </p>

                            <p *ngIf="obj['type']=='bracket'">
                                {{obj["name"]}} 
                            </p>
                        </small>
                    </section>
               </section>
           
            </mat-grid-tile>
            <mat-grid-tile colspan="2" class="config">
                <section>
                    

                    <div class="configOption">
                        <div class="is_it_final"> 
                            <label for="toggle">Is it final Tag ?</label>
                            <select [value]="is_it_final_tag" name="toggle" id="toggle" (change)="onChangeFinalTag($event)">
                                <option value="false">False</option>
                                <option value="true">True</option>
                            </select>
                        </div> 
    
                        <div class="form-group">
                            <label>
                                <input type="text"  placeholder="Enter tagname" (change)="onChangeName($event)" value="{{tag_name}}">
                                <span>TagName</span>
                            </label>
                        </div> 
    
                        <div class="form-group">
                            <label>
                                <input type="text"  placeholder="Enter time column" (change)="onChangeTimeCol($event)" value="{{time_col}}">
                                <span>Sort Time Column</span>
                            </label>
                        </div> 
    
                        <!-- <div class="form-group">
                            <label>
                                <input type="text"  placeholder="Enter interval for tag" (change)="onChangeTimeCol($event)" value="{{time_col}}">
                                <span>Sort Time Column</span>
                            </label>
                        </div>  -->
    
    
                        <label> 
                            <span>Select  Distinct Tags</span>
                        </label> 
                        <div class="form-group"> 
                            <!-- <p class="selected" *ngFor="let obj of distinct_tags_selected"  > 
                                {{obj}}
                            </p>  -->
                                <select name="distinct" id="distinct" multiple (change)="onSelectDistinctTag()" [(ngModel)]="distinct_tags_selected">  
                                    <option  *ngFor="let obj of selectable_tags" value="{{obj}}"> 
                                        {{obj}}
                                    </option>   
                                </select> 
                        </div>
    
                        <section class="onchangeConfigs"  *ngIf="frequency == -2">
                            


                            <label> 
                                <span>Select Tags to copy</span>
                            </label> 
                            <div class="form-group">  
                                    <select name="copy" id="copy" multiple  [(ngModel)]="copy_tags">  
                                        <option  *ngFor="let obj of selectable_tags" value="{{obj}}"> 
                                            {{obj}}
                                        </option>   
                                    </select> 
                            </div>

                            
                            <p style="padding: 12px;">Saved Copy times (click to edit):</p>
                            <div *ngFor="let obj of copy_times" style="padding: 12px;">
                                <button (click)="onEditCopyTimes(obj)" class="btn btn-sm p-3" >
                                    {{obj['hour']}}:{{obj['minutes']}}
                                </button>
                                <button (click)="onDeleteCopyTimes(obj)">
                                    Del
                                </button>
                            </div>
 
                            

                            <div style="padding: 12px;">
                              <section class="my-3" style="padding: 12px 0px;">
                                    <label for="">
                                        <span>Select Timings</span>
                                    </label>
                                    <input type="time" (change)="onChangeCopyTime($event)" value="{{copy_time}}">
                              </section>

                                <section style="padding: 12px 0px;">
                                    <label for="copyOp">
                                        <span>Select operator</span>
                                    </label>
                                    <select name="copyOp" id="copyOp" [(ngModel)]="copy_operator"  aria-placeholder="Select operator" aria-selected="true">
                                        <option selected value="less than">less than</option>
                                        <option value="greater than">greter than</option>
                                    </select>
                                </section>

                               <button (click)="onSaveCopyConfig()" style="display: block; height: 100%; width: 100%; background: rgb(176, 253, 155); padding: 12px; border: none;"> Save Time</button>
                            </div>
                        </section>
                    </div>

                    <div class="btns">
                        <button (click)="onSaveTag()" mat-button style="background: rgb(199, 199, 250);">Save Tag</button>
                        <button style="background: rgb(145, 255, 158);" (click)="onSaveFormula()"  mat-button>Save Formula</button>
                    </div>
                </section>
            </mat-grid-tile>
        </mat-grid-list>
    </section>
</div>